################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/MegaSuperHelper/v16
/MegaSuperHelper/bin/Debug
/MegaSuperHelper/obj
